@use 'src/styles';

.box {
  position: relative;
  height: 100dvh;
}

.viewer {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.main {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow-y: auto;

  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  align-items: flex-start;
  gap: styles.$gap_lg;

  padding: styles.$gap_lg;
}
